html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrapper {
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    max-width: 1200px;
}

.go-down {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('../img/godown.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    right: 50px;
    bottom: 150px;
    z-index: 55;
}

.go-down-href {
    display: block;
    height: 100%;
    width: 100%;
}

#input-messages {
    background-image: url('../img/background.jpg');
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
    height: 92vh;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
}

#input-messages::-webkit-scrollbar {
    width: 0;
  }

.input-message {
    text-align: justify;
    margin: 5px 0;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px 0 5px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: 100%;
    word-break: break-all;
}

.output-message-block {
    width: 100%;
    height: 8vh;
}

.output-message-area {
    width: 100%; 
    height: 100%;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

@media (max-width: 500px) {
    .go-down {
        display: none;
    }
}

